@charset "utf-8";

/* webfont */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

div,
p,
ol,
ul,
li,
dl,
dt,
dd,
span,
strong,
table,
th,
td,
em,
form.input,
textarea,
img,
video {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    /* 1rem */
}

* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #19193C;
    font-family: Pretendard-Regular;
    font-size: 20px;
    line-height: 25px;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    color: inherit;
}

#wrap {
    min-width: 1400px;
}

/* bg */
.bg {
    height: 8360px;
    background: url(../images/main/main_bg.jpg) no-repeat center;
}

/* main_bg */
.main_bg {
    height: 1280px;
    background: url(../images/main/main_banner.png) no-repeat center;
}

/* bottom_bg */
.bottom_bg {
    height: 2000px;
    background: url(../images/main/bottom_twinkle.png) no-repeat center;
}

/* lang */
.lang_wrap {
    width: 1320px;
    margin: 0 auto;
    height: 50px;
}

.lang {
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.lang>li>a {
    display: block;
    margin: 10px 10px;
    color: #84386E;
}

/* top */
.top {
    width: 1320px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    box-sizing: border-box;
}

.gnb {
    display: flex;
}

.gnb li a {
    display: block;
    margin: 10px 15px 0 15px;
    padding-bottom: 20px;
}

.gnb li a:hover {
    border-bottom: 5px solid white;
}

/* main_banner */
#main_banner {
    height: 800px;
    text-align: center;
    padding-top: 250px;
    box-sizing: border-box;
    overflow: hidden;
}

.main_star_relative {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}


#main_banner img {
    padding-bottom: 20px;
}

/* star */
@keyframes star1 {
    0% {

        top: 0;
        left: 0;
    }

    /* 50% {
        top: 100px;
        left: 200px;
    } */

    100% {
        top: 300px;
        left: 300px;
    }
}

.star1 {
    position: absolute;
    top: 0;
    left: 0;
    animation: star1 2s infinite;
}

@keyframes star2 {
    0% {

        top: -100px;
        left: 200px;
    }

    100% {
        top: 200px;
        left: 500px;
    }
}

.star2 {
    position: absolute;
    top: -100px;
    left: 200px;
    animation: star2 3s infinite;
}

@keyframes star3 {
    0% {

        top: 100px;
        left: 1000px;
    }

    100% {
        top: 400px;
        left: 1300px;
    }
}

.star3 {
    position: absolute;
    top: 100px;
    left: 1000px;
    animation: star3 3s infinite;
}

@keyframes star4 {
    0% {

        top: 400px;
        left: 150px;
    }

    100% {
        top: 700px;
        left: 350px;
    }
}

.star4 {
    position: absolute;
    top: 400px;
    left: 150px;
    animation: star4 4s infinite;
}

@keyframes star5 {
    0% {
        top: 200px;
        left: 700px;
    }

    100% {
        top: 600px;
        left: 1000px;
    }
}

.star5 {
    position: absolute;
    top: 200px;
    left: 700px;
    animation: star5 2s infinite;
}

@keyframes star6 {
    0% {
        top: -200px;
        left: 1200px;
    }

    100% {
        top: 100px;
        left: 1500px;
    }
}

.star6 {
    position: absolute;
    top: -200px;
    left: 1200px;
    animation: star6 4s infinite;
}

@keyframes star7 {
    0% {
        top: -500px;
        left: 300px;
    }

    100% {
        top: -200px;
        left: 600px;
    }
}

.star7 {
    position: absolute;
    top: -500px;
    left: 300px;
    animation: star7 3s infinite;
}



/* section1 */
#section1 {
    width: 1320px;
    margin: 0 auto;
    height: 700px;
    background: url(../images/main/section1_img.png) no-repeat right 0 top 30px;
    overflow: hidden;

}

#section1 img {
    padding: 280px 0 20px 0;
}

/* text_band */
#text_band {
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#text_band .track {
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 100px;
    animation: flow1 30s linear infinite;
}

@keyframes flow1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* section_box1 (2+3) */
.section_box1 {
    height: 2300px;
    overflow: hidden;
}

.section_box1_relative {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

/* section2 */
#section2 {
    height: 1500px;
}

.section2_text {
    position: absolute;
    top: 500px;
    left: 0;
    z-index: 9;
}

.section2_text_squre {
    position: absolute;
    top: 350px;
    left: -150px;
    z-index: 8;
}

.more {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 11;

}

.more a {
    margin-top: 900px;
    margin-left: 50px;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid white;
}

.more a:hover {
    background-color: rgba(255, 255, 255, 0.151);
    color: rgb(252, 108, 56);
    border: 1px solid rgb(252, 108, 56);
}


@keyframes squre {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.squre img {
    animation: squre 3s infinite linear;
}

.squre {
    position: absolute;
    top: 100px;
    left: -100px;
    z-index: 2;
}



/* section2_swiper */
.swiper_wrap {
    height: 1000px;
}

#banner1 {
    width: 1300px;
    height: 460px;
    margin: 0 30px;
    top: 414px;
    position: relative;
}

#banner2 {
    width: 1300px;
    height: 360px;
    margin: 0 450px;
    position: relative;
    padding-left: 50px;
}

.slide1 {
    transform: rotate(90deg);
}

.slide2 {
    transform: rotate(90deg);
}

.swiper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.swiper_wrap .swiper-wrapper {
    transition-timing-function: linear;
}

.swiper_wrap .swiper_wrap .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;

}

.swiper_wrap .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    height: 385px;
    object-fit: cover;
}


/* section3 */
#section3 {
    width: 1320px;
    height: 800px;
    margin: 0 auto;
}

.section3_inner {
    box-sizing: border-box;
    text-align: center;
}

.bg_cosmic {
    position: absolute;
    top: 800px;
    right: -500px;
    z-index: 1;
    opacity: 0.3;
}

.recommendation {
    padding: 250px 0 100px;
}

.recomandation_ul {
    display: flex;
}

.recomandation_ul_relative {
    position: relative;
    height: 323px;
}

.recomandation_img {
    overflow: hidden;
}

.recomandation_img img {
    display: block;
    transition-duration: 0.5s;
}

.cover {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 323px;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 130px;
    transition-property: transform, opacity;
    transition-duration: 0.5s;
    opacity: 0;
}

.cover a {
    display: block;
    color: white;
}

.cover img {
    transform: translateY(-10px);
    transition-property: transform, opacity;
    transition-duration: 0.5s;
}

.cover p {
    transform: translateY(10px);
    transition-property: transform, opacity;
    transition-duration: 0.5s;
}

.recomandation_ul li:hover .cover {
    opacity: 1;
}

.recomandation_ul li:hover .recomandation_img img {
    transform: scale(1.2);
}

.recomandation_ul li:hover p,
.recomandation_ul li:hover img {
    transform: translateY(0px);
    opacity: 1;
}

.cover a:hover p {
    color: rgb(252, 108, 56);
}



@keyframes triangle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.triangle img {
    animation: round 3s infinite linear;
}

.triangle {
    position: absolute;
    top: 1300px;
    right: -200px;
    z-index: 3;
}

/* section4 */
#section4 {
    height: 1600px;
    overflow: hidden;
    box-sizing: border-box;

}

.section4_inner {
    width: 1320px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.section4_contents {
    height: 1297px;
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.round img {
    animation: round 3s infinite linear;
}

.round {
    position: absolute;
    top: 100px;
    left: -150px;
    z-index: 2;
}

.line {
    position: absolute;
    top: 480px;
    left: -200px;
    z-index: 2;
}

.bg_moon {
    position: absolute;
    /* position: sticky; */
    top: 200px;
    right: -100px;
    z-index: 1;
}

.experience {
    padding-top: 604px;
}

.experience_box {
    padding-top: 100px;
    z-index: 9;
}

.experience_img {
    position: absolute;
    top: 800px;
    left: 0px;
    z-index: 10;
    display: flex;
}


.section4_blank {
    height: 625px;
}

.cosmic2 {
    position: absolute;
    top: 800px;
    left: -400px;
    z-index: 1;
}

/* section4_accodion_S */
.accordion {
    width: 100%;
    max-width: 1080px;
    height: 350px;
    overflow: hidden;
    margin: 50px auto;

    position: absolute;
    top: 700px;
    left: 100px;
    z-index: 9;
}

.accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 16.666%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
}

.accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
}

.accordion ul li div a {
    display: block;
    height: 350px;
    width: 100%;
    position: relative;
    z-index: 3;
    vertical-align: bottom;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    transition: all 200ms ease;
}

.accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    /* -webkit-transition: all 400ms ease; */
    transition: all 400ms ease;
}

.accordion ul li div a h2 {
    font-family: Montserrat, sans-serif;
    text-overflow: clip;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 2px;
    top: 160px;
}

.accordion ul li div a p {
    top: 160px;
    font-size: 13.5px;
}

.accordion ul li:nth-child(1) {
    background-image: url(../images/main/accordion1.png);
}

.accordion ul li:nth-child(2) {
    background-image: url(../images/main/accordion2.png);
}

.accordion ul li:nth-child(3) {
    background-image: url(../images/main/accordion3.png);
}

.accordion ul li:nth-child(4) {
    background-image: url(../images/main/accordion4.png);
}

.accordion ul li:nth-child(5) {
    background-image: url(../images/main/accordion5.png);
}

.accordion ul:hover li {
    width: 10%;
}

.accordion ul:hover li:hover {
    width: 60%;
}

.accordion ul:hover li:hover a {
    background: rgba(0, 0, 0, 0.4);
}

.accordion ul:hover li:hover a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}




/* section4_accodion_E */





@keyframes squre2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.squre2 img {
    animation: squre2 3s infinite linear;
}

.squre2 {
    position: absolute;
    top: 1200px;
    left: 350px;
    z-index: 5;
}

@keyframes triangle2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.triangle2 img {
    animation: triangle2 3s infinite linear;
}

.triangle2 {
    position: absolute;
    top: 1000px;
    right: 30px;
    z-index: 2;
}






/* section5 */
#section5 {
    height: 928px;
    overflow: hidden;
    /* background-color: #fff; */
}

.section5_inner {
    width: 1320px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

@keyframes triangle2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.triangle2 img {
    animation: triangle2 3s infinite linear;
}

.triangle2 {
    position: absolute;
    top: 60px;
    right: 30px;
    z-index: 2;
}

.palnet {
    position: absolute;
    top: 100px;
    left: -50px;
    z-index: 3;
}

.section5_text_bg {
    position: absolute;
    top: 200px;
    right: -375px;
    z-index: 2;
}

.section5_text {
    position: absolute;
    top: 370px;
    right: 150px;
    z-index: 2;
}

.what_we_think {
    position: absolute;
    top: 350px;
    right: 650px;
    z-index: 5;
}

@keyframes round2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.round2 img {
    animation: round2 3s infinite linear;
}

.round2 {
    position: absolute;
    top: 750px;
    left: -200px;
    z-index: 2;
}

/* section6 */
#section6 {
    height: 250px;
}

.flow-content2 {
    display: flex;
}

@keyframes flow2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.animated-img {
    height: 250px;
    overflow: hidden;
    position: relative;
}

#section6 .animated-img .track2 {
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    animation: flow2 50s linear infinite;
}



/* section7 */

.footer_moon {
    height: 1006px;
    background: url(../images/main/footer_moon.png) no-repeat top 350px center;
}

#section7 {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    height: 586px;
    padding-top: 200px;
    box-sizing: border-box;
}

.with_us_contents {
    width: 1000px;
    margin: 100px auto;
}

.with_us_link {
    display: flex;
    justify-content: space-between;
}

.with_us_link li a {
    display: block;
    transition: transform 1s;
}

.with_us_link li a:hover {
    transform: rotateY(180deg);
}

/* bottom */

#bottom {
    color: #bdbdbd;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.534);
}

.bottom_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
    font-size: 16px;
}

.footer_logo p {
    padding-top: 30px;
}

.footer_contents1_ul li a {
    display: block;
    color: #bdbdbd;
}

.footer_contents1_ul li a:hover {
    color: white;
}

.sns .sns_link {
    display: flex;
}

.sns .sns_link li a {
    display: block;
    padding: 10px 10px;
    opacity: 0.4;
}

.sns .sns_link li a:hover {
    opacity: 1;
}

.information li {
    padding-left: 20px;
}

.information li:nth-child(1) {
    background: url(../images/main/information1.png) no-repeat top 0 left 0;
}

.information li:nth-child(2) {
    background: url(../images/main/information2.png) no-repeat top 0 left 0;
}

.information li:nth-child(3) {
    background: url(../images/main/information3.png) no-repeat top 0 left 0;
}

.information li:nth-child(4) {
    background: url(../images/main/information4.png) no-repeat top 0 left 0;
}