@charset "utf-8";

/* webfont */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

div,
p,
ol,
ul,
li,
dl,
dt,
dd,
span,
strong,
table,
th,
td,
em,
form.input,
textarea,
img,
video {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    /* 1rem */
}
html{
	/* Prevent font scaling in landscape */

     -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

     -moz-text-size-adjust: none; /*Firefox*/

     -ms-text-size-adjust: none;  /*Ie*/

     -o-text-size-adjust: none; /*old versions of Opera*/
}

* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #19193C;
    font-family: Pretendard-Regular;
    font-size: 20px;
    line-height: 25px;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    color: inherit;
}

#wrap {
    min-width: 1400px;
}

/* bg */
.bg {
    height: 4480px;
    background: url(../images/play/bg.png) no-repeat center;
}

/* main_bg */
.main_bg {
    height: 1372px;
    background: url(../images/play/main_bg.png) no-repeat center;
}

/* lang */
.lang_wrap {
    width: 1320px;
    margin: 0 auto;
    height: 50px;
}

.lang {
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.lang>li>a {
    display: block;
    margin: 10px 10px;
    color: #84386E;
}

/* top */
.top {
    width: 1320px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    box-sizing: border-box;
}

.gnb {
    display: flex;
}

.gnb li a {
    display: block;
    margin: 10px 15px 0 15px;
    padding-bottom: 20px;
}

.gnb li a:hover {
    border-bottom: 5px solid white;
}

#main_banner {
    text-align: center;
    height: 350px;
    box-sizing: border-box;
    padding-top: 150px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.171);
}

#play_gnb_wrap {
    width: 1320px;
    margin: 0 auto;
    height: 188px;
    box-sizing: border-box;
    padding-top: 60px;
}

.play_gnb {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.play_gnb li a {
    display: block;
    padding: 10px 20px;
}

.play_gnb li a:hover {
    border-bottom: 5px solid rgb(252, 108, 56);
}

/* section1 */
#section1 {
    width: 1320px;
    margin: 0px auto;
    padding-top: 200px;
    height: 500px;
    text-align: center;
}

.intro {
    display: flex;
    justify-content: space-between;
}

.intro_text {
    padding: 40px;
}

.intro_text img {
    padding-bottom: 80px;
}

/* band1 */
#band1_wrap {
    height: 400px;
    background: url(../images/play/band1_bg.png) no-repeat center;
}

.band1 {
    width: 1320px;
    margin: 0px auto;
    position: relative;
}

.band1 p {
    padding: 80px 20px;
}

.band1 img {
    position: absolute;
    top: 250px;
    right: 0;
    z-index: 9;
}


/* section2 */
#section2 {
    height: 500px;
    margin-top: 150px;
    text-align: center;

}

#section2 p {
    padding-bottom: 50px;
}

#contents {
    width: 1300px;
    margin: 0 auto;
}

.screen {
    position: relative;
    overflow: hidden;
}

.screen img {
    width: 100%;
    display: block;
}

.swiper-slide {
    transform: scale(0.7);
    transition: all 1s;
}

.swiper-slide-next {
    transform: scale(1);
}

.swiper-slide-duplicate-prev {
    transform: scale(0.7);
}

.swiper-pagination {
    color: rgb(252, 108, 56);

}


/* band2 */
#band2_wrap {
    height: 400px;
    background: url(../images/play/band2_bg.png) no-repeat center;
}

.band2 {
    width: 1320px;
    margin: 100px auto;
    position: relative;
}

.band2 p {
    text-align: right;
    padding: 80px 20px;
}

.band2 img {
    position: absolute;
    top: 250px;
    left: 150px;
    z-index: 9;
}

/* section3 */
#section3 {
    height: 657px;
    margin-top: 150px;
    text-align: center;
}

#section3 p {
    padding-bottom: 50px;
}

/* bottom */
.bootom_moon {
    height: 729px;
    background: url(../images/main/footer_moon.png) no-repeat top 100px center;
    box-sizing: border-box;
}

.bootom_blank {
    height: 309px;
}

#bottom {
    color: #bdbdbd;
    height: 420px;
    margin-top: ;
    background-color: rgba(0, 0, 0, 0.534);

}

.bottom_inner {
    width: 1320px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
    font-size: 16px;
}

.footer_logo p {
    padding-top: 30px;
}

.footer_contents1_ul li a {
    display: block;
    color: #bdbdbd;
}

.footer_contents1_ul li a:hover {
    color: white;
}

.sns .sns_link {
    display: flex;
}

.sns .sns_link li a {
    display: block;
    padding: 10px 10px;
    opacity: 0.4;
}

.sns .sns_link li a:hover {
    opacity: 1;
}

.information li {
    padding-left: 20px;
}

.information li:nth-child(1) {
    background: url(../images/main/information1.png) no-repeat top 0 left 0;
}

.information li:nth-child(2) {
    background: url(../images/main/information2.png) no-repeat top 0 left 0;
}

.information li:nth-child(3) {
    background: url(../images/main/information3.png) no-repeat top 0 left 0;
}

.information li:nth-child(4) {
    background: url(../images/main/information4.png) no-repeat top 0 left 0;
}
