@charset "utf-8";

/* webfont */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

div,
p,
ol,
ul,
li,
dl,
dt,
dd,
span,
strong,
table,
th,
td,
em,
form.input,
textarea,
img,
video {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    /* 1rem */
}

* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #19193C;
    font-family: Pretendard-Regular;
    font-size: 20px;
    line-height: 25px;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    color: inherit;
}

#wrap {
    min-width: 1400px;
}

/* bg */
.bg {
    height: 4990px;
    background: url(../images/space_guide/bg.png) no-repeat center;
}

/* main_bg */
.main_bg {
    width: 100%;
    height: 1536px;
    background: url(../images/space_guide/main_bg.png) no-repeat center;
}

/* lang */
.lang_wrap {
    width: 1320px;
    margin: 0 auto;
    height: 50px;
}

.lang {
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.lang>li>a {
    display: block;
    margin: 10px 10px;
    color: #84386E;
}

/* top */
.top {
    width: 1320px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    box-sizing: border-box;
}

.gnb {
    display: flex;
}

.gnb li a {
    display: block;
    margin: 10px 15px 0 15px;
    padding-bottom: 20px;
}

.gnb li a:hover {
    border-bottom: 5px solid white;
}

#main_banner {
    text-align: center;
    height: 350px;
    box-sizing: border-box;
    padding-top: 150px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.171);
}

#guide_gnb_wrap {
    width: 1320px;
    margin: 0 auto;
    height: 188px;
    box-sizing: border-box;
    padding-top: 60px;
}

.guide_gnb {
    display: flex;
    justify-content: space-between;
}

.guide_gnb li a {
    display: block;
    padding: 10px 20px;
}

.guide_gnb li a:hover {
    border-bottom: 5px solid rgb(252, 108, 56);
}

/* containner */
.center {
    width: 1320px;
    margin: 0 auto;
    height: 714px;
}

#section1,
#section2,
#section3,
#section4,
#section5 {
    position: relative;
    overflow: hidden;
}

/* 1 */

.guide_contents {
    height: 750px;
    display: flex;
    justify-content: space-between;
    background: url(../images/space_guide/orange_bg_1.png) no-repeat top 0 right 0;
    box-sizing: border-box;
    padding-top: 30px;
}

.guide_text {
    padding: 80px 50px 0 0;
    text-align: right;
}

.guide_text h1 {
    padding-bottom: 20px;
}

.line {
    width: 30px;
    border-bottom: solid 2px white;
    display: inline-block;
}

.guide_text p {
    padding-top: 35px;
}

.guide_title {
    position: absolute;
    top: 470px;
    left: 30px;
    z-index: 9;
}

/* 2 */
.guide_contents2 {
    height: 750px;
    display: flex;
    justify-content: space-between;
    background: url(../images/space_guide/orange_bg_2.png) no-repeat top 0 left 0;
    box-sizing: border-box;
    padding-top: 30px;
}

.guide2_text {
    padding: 80px 50px;

}

.guide2_text h1 {
    padding-bottom: 20px;
}

.line {
    width: 30px;
    border-bottom: solid 2px white;
    display: inline-block;
}

.guide2_text p {
    padding-top: 35px;
}

.guide2_title {
    position: absolute;
    top: 470px;
    right: 30px;
    z-index: 9;
}

/* bottom */
.bootom_moon {
    height: 729px;
    background: url(../images/main/footer_moon.png) no-repeat top 100px center;
    box-sizing: border-box;
}

.bootom_blank {
    height: 309px;
}

#bottom {
    color: #bdbdbd;
    height: 420px;
    margin-top: ;
    background-color: rgba(0, 0, 0, 0.534);

}

.bottom_inner {
    width: 1320px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
    font-size: 16px;
}

.footer_logo p {
    padding-top: 30px;
}

.footer_contents1_ul li a {
    display: block;
    color: #bdbdbd;
}

.footer_contents1_ul li a:hover {
    color: white;
}

.sns .sns_link {
    display: flex;
}

.sns .sns_link li a {
    display: block;
    padding: 10px 10px;
    opacity: 0.4;
}

.sns .sns_link li a:hover {
    opacity: 1;
}

.information li {
    padding-left: 20px;
}

.information li:nth-child(1) {
    background: url(../images/main/information1.png) no-repeat top 0 left 0;
}

.information li:nth-child(2) {
    background: url(../images/main/information2.png) no-repeat top 0 left 0;
}

.information li:nth-child(3) {
    background: url(../images/main/information3.png) no-repeat top 0 left 0;
}

.information li:nth-child(4) {
    background: url(../images/main/information4.png) no-repeat top 0 left 0;
}